<h1>Web Content Management App</h1>
<p>This is the home page
  Welcome to the Web Content Management
  Awesome site made by Nikhat Fatima, for
  <a href="http://cosmicvent.com/">Cosmicvent Softwares</a></p>

<%= content_for(:title) do%>
  This is an awesome title | Home
<%end%>

