<form method="post" action="/store_site">
  <label>   Title:
    <input name = "title">
  </label>
  <br>
  <br>
  <label> Sub-domain:
    <input name = "domain" >
  </label>
  <br>
  <br>
  <br>
  <div class="center">
    <input type = "submit" value ="Done!">
  </div>
</form>

