<h3>
  List of sites >>
</h3>

<div class="right">
  <form method="get" action="/create_site">
    <input type = "submit"  value = "Create Web-site">
  </form>
</div>
<hr>
<b>
  <form method="post" action="/site_post">
    <%@sites.each do |s|%>
      <a href=<%="/sites/?id=#{s.id}"%>><%="#{s.domain}"%></a>
      <br>
    <%end%>
  </form>
  <br>
</b>
