<div class="center"><b> Sign In </b></div>
<hr><br>
<div class="center box">
  <br>
  <br>
  <form method="post">
    <label>   Email:
      <input name = "email">
    </label>
    <br>
    <br>
    <label> Password:
      <input name = "password" type = "password">
    </label>
    <br>
    <div class="center">
    <b>*only 6 characters</b>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="center">
      <input type = "submit" value ="Sign In">
    </div>
  </form>
</div>
