<h1> Sign In </h1>
    <hr><br>
    <div class="center box">
      <br>
      <br>
    <form method="post">
      <label>   Email:
        <input name = "email">
      </label>
      <br>
      <br>
   <label> Password:
        <input name = "password" type = "password">
      </label>
      <br>
      <b>*atleast 6 characters</b>
      <br>
      <br>
          <input type = "submit" value ="Sign In">
          <%= link_to "SignUp", 'signup'%>
    </form>
 </div>
