<footer>

  <i>CosmicVent Softwares</i>
<div class="right",id="logo" >

  <%= link_to "Sign Up Now!",'signup'%>
  <%= link_to "Contact",contact_path%>
  <%= link_to "About Us ",about_path%>

</div>
</footer>
