<footer>

  <a href="http://cosmicvent.com"><i>CosmicVent Softwares</i></a>
<div class="right",id="logo" >

  <%= link_to "Sign Up Now!",'signup'%>
  <%= link_to "Contact",contact_path%>
  <%= link_to "About Us ",about_path%>

</div>
</footer>
