<header>
<div class="left",id="logo">
  <img alt="Cosmicvent" src="/assets/logo.png"/>
</div>
<div class="right">
  <%= link_to "Home",'/'%>
<%= link_to "Signin",'signin' %>
<%= link_to "Help",'help' %>
  </div>
  </header>
